# Configuration file

press {
    I:"gt.integrated_circuit;dustDynamite;item.string;_16"=16
    I:"gt.integrated_circuit;dustDynamite;item.string;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberBlack;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberBlack;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberBlue;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberBlue;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberBrown;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberBrown;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberCopper;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberCopper;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberCyan;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberCyan;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberGray;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberGray;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberGreen;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberGreen;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberLightBlue;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberLightBlue;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberLightGray;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberLightGray;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberLime;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberLime;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberMagenta;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberMagenta;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberOrange;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberOrange;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberPink;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberPink;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberPurple;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberPurple;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberRed;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberRed;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberWhite;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberWhite;_64"=64
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberYellow;_16"=16
    I:"gt.integrated_circuit;dustDynamite;plantGtFiberYellow;_64"=64
    I:"gt.multiitem.food.32000;gt.multiitem.technological.10801;_16"=16
    I:"gt.multiitem.food.32000;gt.multiitem.technological.10802;_32"=32
    I:"gt.multiitem.food.32000;gt.multiitem.technological.10803;_48"=48
    I:"gt.multiitem.food.32001;gt.multiitem.technological.10804;_64"=64
    I:"gt.multiitem.food.32004;gt.multiitem.technological.10804;_64"=64
    I:"gt.multiitem.food.32005;gt.multiitem.technological.10804;_64"=64
    I:"gt.multiitem.technological.30000;gt.multiitem.technological.30001;_64"=64
    I:"gt.multiitem.technological.30000;gt.multiitem.technological.30003;_64"=64
    I:"gt.multiitem.technological.30000;gt.multiitem.technological.30005;_64"=64
    I:"gt.multiitem.technological.30000;gt.multiitem.technological.30011;_64"=64
    I:"gt.multiitem.technological.30000;gt.multiitem.technological.30013;_64"=64
    I:"gt.multiitem.technological.30000;gt.multiitem.technological.30015;_64"=64
    I:"gt.multiitem.technological.30002;gt.multiitem.technological.30101;_64"=64
    I:"gt.multiitem.technological.30002;gt.multiitem.technological.30102;_64"=64
    I:"gt.multiitem.technological.30002;gt.multiitem.technological.30103;_64"=64
    I:"gt.multiitem.technological.30002;gt.multiitem.technological.30104;_64"=64
    I:"gt.multiitem.technological.30002;gt.multiitem.technological.30105;_64"=64
    I:"gt.multiitem.technological.30002;gt.multiitem.technological.30106;_64"=64
    I:"gt.multiitem.technological.30004;gt.multiitem.technological.30101;_64"=64
    I:"gt.multiitem.technological.30004;gt.multiitem.technological.30102;_64"=64
    I:"gt.multiitem.technological.30004;gt.multiitem.technological.30103;_64"=64
    I:"gt.multiitem.technological.30004;gt.multiitem.technological.30104;_64"=64
    I:"gt.multiitem.technological.30004;gt.multiitem.technological.30105;_64"=64
    I:"gt.multiitem.technological.30004;gt.multiitem.technological.30106;_64"=64
    I:"gt.multiitem.technological.30006;gt.multiitem.technological.30101;_64"=64
    I:"gt.multiitem.technological.30006;gt.multiitem.technological.30102;_64"=64
    I:"gt.multiitem.technological.30006;gt.multiitem.technological.30103;_64"=64
    I:"gt.multiitem.technological.30006;gt.multiitem.technological.30104;_64"=64
    I:"gt.multiitem.technological.30006;gt.multiitem.technological.30105;_64"=64
    I:"gt.multiitem.technological.30006;gt.multiitem.technological.30106;_64"=64
    I:"gt.multiitem.technological.30012;gt.multiitem.technological.30111;_64"=64
    I:"gt.multiitem.technological.30014;gt.multiitem.technological.30113;_64"=64
    I:"gt.multiitem.technological.30016;gt.multiitem.technological.30115;_64"=64
    I:"gt.multiitem.technological.30099;gt.multiitem.technological.30198;_64"=64
    I:"gt.multiitem.technological.30099;gt.multiitem.technological.30199;_64"=64
    I:"gt.multiitem.technological.30500;gt.multiitem.technological.30401;_16"=16
    I:"gt.multiitem.technological.30500;gt.multiitem.technological.30402;_16"=16
    I:"gt.multiitem.technological.30500;gt.multiitem.technological.30403;_16"=16
    I:"gt.multiitem.technological.30500;gt.multiitem.technological.30404;_16"=16
    I:"ic2.itemPartAlloy;plateIridium;gemDiamond;_256"=256
    I:"ic2.itemPartCoalBlock;blockDustObsidian;_64"=64
    I:"ic2.itemPartCoalBlock;blockSolidObsidian;_64"=64
    I:"ic2.itemPartCoalBlock;dustObsidian;_64"=64
    I:"ic2.itemUran238;ic2.itemPlutonium;_128"=128
    I:"ic2.itemUran238;ic2.itemUran235small;_128"=128
    I:"plateDenseHSLASteel;chunkGtPlutonium;_128"=128
    I:"plateDenseHSLASteel;dustPlutonium;_128"=128
    I:"plateDenseHSLASteel;dustSmallPlutonium;_128"=128
    I:"plateDenseHSLASteel;dustTinyPlutonium;_128"=128
    I:"plateDenseHSLASteel;ic2.itemPlutonium;_128"=128
    I:"plateDenseHSLASteel;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseHSLASteel;ingotPlutonium;_128"=128
    I:"plateDenseHSLASteel;nuggetPlutonium;_128"=128
    I:"plateDenseIron;chunkGtPlutonium;_128"=128
    I:"plateDenseIron;dustPlutonium;_128"=128
    I:"plateDenseIron;dustSmallPlutonium;_128"=128
    I:"plateDenseIron;dustTinyPlutonium;_128"=128
    I:"plateDenseIron;ic2.itemPlutonium;_128"=128
    I:"plateDenseIron;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseIron;ingotPlutonium;_128"=128
    I:"plateDenseIron;nuggetPlutonium;_128"=128
    I:"plateDenseKnightmetal;chunkGtPlutonium;_128"=128
    I:"plateDenseKnightmetal;dustPlutonium;_128"=128
    I:"plateDenseKnightmetal;dustSmallPlutonium;_128"=128
    I:"plateDenseKnightmetal;dustTinyPlutonium;_128"=128
    I:"plateDenseKnightmetal;ic2.itemPlutonium;_128"=128
    I:"plateDenseKnightmetal;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseKnightmetal;ingotPlutonium;_128"=128
    I:"plateDenseKnightmetal;nuggetPlutonium;_128"=128
    I:"plateDenseMeteoricIron;chunkGtPlutonium;_128"=128
    I:"plateDenseMeteoricIron;dustPlutonium;_128"=128
    I:"plateDenseMeteoricIron;dustSmallPlutonium;_128"=128
    I:"plateDenseMeteoricIron;dustTinyPlutonium;_128"=128
    I:"plateDenseMeteoricIron;ic2.itemPlutonium;_128"=128
    I:"plateDenseMeteoricIron;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseMeteoricIron;ingotPlutonium;_128"=128
    I:"plateDenseMeteoricIron;nuggetPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;chunkGtPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;dustPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;dustSmallPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;dustTinyPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;ic2.itemPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseMeteoricSteel;ingotPlutonium;_128"=128
    I:"plateDenseMeteoricSteel;nuggetPlutonium;_128"=128
    I:"plateDensePigIron;chunkGtPlutonium;_128"=128
    I:"plateDensePigIron;dustPlutonium;_128"=128
    I:"plateDensePigIron;dustSmallPlutonium;_128"=128
    I:"plateDensePigIron;dustTinyPlutonium;_128"=128
    I:"plateDensePigIron;ic2.itemPlutonium;_128"=128
    I:"plateDensePigIron;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDensePigIron;ingotPlutonium;_128"=128
    I:"plateDensePigIron;nuggetPlutonium;_128"=128
    I:"plateDenseSteel;chunkGtPlutonium;_128"=128
    I:"plateDenseSteel;dustPlutonium;_128"=128
    I:"plateDenseSteel;dustSmallPlutonium;_128"=128
    I:"plateDenseSteel;dustTinyPlutonium;_128"=128
    I:"plateDenseSteel;ic2.itemPlutonium;_128"=128
    I:"plateDenseSteel;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseSteel;ingotPlutonium;_128"=128
    I:"plateDenseSteel;nuggetPlutonium;_128"=128
    I:"plateDenseWroughtIron;chunkGtPlutonium;_128"=128
    I:"plateDenseWroughtIron;dustPlutonium;_128"=128
    I:"plateDenseWroughtIron;dustSmallPlutonium;_128"=128
    I:"plateDenseWroughtIron;dustTinyPlutonium;_128"=128
    I:"plateDenseWroughtIron;ic2.itemPlutonium;_128"=128
    I:"plateDenseWroughtIron;ic2.itemPlutoniumSmall;_128"=128
    I:"plateDenseWroughtIron;ingotPlutonium;_128"=128
    I:"plateDenseWroughtIron;nuggetPlutonium;_128"=128
    I:"plateGemTinyEnderEye;dustRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"plateGemTinyEnderEye;dustRedstone;plateGemTinySilicon;_16"=16
    I:"plateGemTinyEnderEye;dustTinyRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"plateGemTinyEnderEye;dustTinyRedstone;plateGemTinySilicon;_16"=16
    I:"plateGemTinyEnderPearl;dustRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"plateGemTinyEnderPearl;dustRedstone;plateGemTinySilicon;_16"=16
    I:"plateGemTinyEnderPearl;dustTinyRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"plateGemTinyEnderPearl;dustTinyRedstone;plateGemTinySilicon;_16"=16
    I:"plateHSLASteel;gt.multiitem.technological.30003;_64"=64
    I:"platePlastic;dustSiliconDioxide;_64"=64
    I:"wireFineAnnealedCopper;dustRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineAnnealedCopper;dustRedstone;plateGemTinySilicon;_16"=16
    I:"wireFineAnnealedCopper;dustTinyRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineAnnealedCopper;dustTinyRedstone;plateGemTinySilicon;_16"=16
    I:"wireFineAnnealedCopper;wireFineRedAlloy;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineAnnealedCopper;wireFineRedAlloy;plateGemTinySilicon;_16"=16
    I:"wireFineAnnealedCopper;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineAnnealedCopper;wireFineSignalum;plateGemTinySilicon;_16"=16
    I:"wireFineCopper;dustRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineCopper;dustRedstone;plateGemTinySilicon;_16"=16
    I:"wireFineCopper;dustTinyRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineCopper;dustTinyRedstone;plateGemTinySilicon;_16"=16
    I:"wireFineCopper;wireFineRedAlloy;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineCopper;wireFineRedAlloy;plateGemTinySilicon;_16"=16
    I:"wireFineCopper;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineCopper;wireFineSignalum;plateGemTinySilicon;_16"=16
    I:"wireFineEnderium;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineGold;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineGold;wireFineSignalum;plateGemTinySilicon;_16"=16
    I:"wireFineManasteel;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineManasteel;wireFineSignalum;plateGemTinySilicon;_16"=16
    I:"wireFineMithril;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineMithril;wireFineSignalum;plateGemTinySilicon;_16"=16
    I:"wireFinePlatinum;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFinePlatinum;wireFineSignalum;plateGemTinySilicon;_16"=16
    I:"wireFineSignalum;dustRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineSignalum;dustRedstone;plateGemTinySilicon;_16"=16
    I:"wireFineSignalum;dustTinyRedstone;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineSignalum;dustTinyRedstone;plateGemTinySilicon;_16"=16
    I:"wireFineThaumium;wireFineSignalum;plateGemTinyRedstoneAlloy;_16"=16
    I:"wireFineThaumium;wireFineSignalum;plateGemTinySilicon;_16"=16
}


